
/** General Styles **/

.post {
    background: #FFFFFF;
    padding: 20px;
    margin: 20px 0px 0px 30px;
    border: 1px solid rgb(230, 221, 204);
 }

.header {
    position: fixed;
    width: 100%;
    display:flex;
    padding: 10px 30px 10px 30px;
    align-items: center;   
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(196, 183, 159);
    z-index: 1;
}

.header--mobile {
    display: none;
    position: fixed;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgb(196, 183, 159);
    z-index: 1;
    align-items: center;   
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.header--mobile img{
    width: 25px;
}
.header img {
    width: 25px;
}

.sidebar__link {
    text-transform: uppercase;
    text-align: right;
    line-height: 1rem;
    font-size: .8rem;
}

.current-book__more--mobile {
    display:none;
}

/* Mobile support */
@media (max-width: 470px) {
    .header {
        display: none;
    }

    .header--mobile {
        display: flex;
    }

    .search {
        width: 40px;
    }

    .content {
        width: 450px;
        padding-bottom: 40px;
        margin-top: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .feed {
        width: 400px;
        margin-top: 0px;
    }

    .post {
        width: 370px;
    }

    .post__footer {
        width: 320px;
    }

    .post__photos {
        display: flex;
    }

    .post__photos img {
        width: 90px;
        margin: 2px;
    }

    .sidebar {
        text-align: center;
        width: 100%;
        padding: 0px 20px 0px 20px;
        margin: 120px 0px 0px 0px;
        position: relative;
    }

    .sidebar__link {
        text-align: center;
    }
    
    .sidebar__link a {
        display:inline-block;
        width: 90px;
        text-align: center;
        -moz-box-shadow: inset 0px -2px 0px 0.01px #F6BD60;
        -webkit-box-shadow: inset 0px -2px 0px 0.01px #F6BD60;
        box-shadow: inset 0px -2px 0px 0.01px #F6BD60;
        background: #ffffff;
        padding: 5px 15px 5px 5px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .sidebar__link a:hover {
        -moz-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        -webkit-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        box-shadow: inset 0px -30px 0px 0.01px #F6BD60;
        color: #ffffff;
    }

    .sidebar__link > .active {
        -moz-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        -webkit-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        box-shadow: inset 0px -30px 0px 0.01px #F6BD60;
        color: #ffffff;
    }


    .current-book-info {
        width: 300px;
    }

    .current-book__more {
        display: none;
    }

    .current-book__more--mobile {
        width: 330px;
        border-top: 1px solid #C4C4C4;
    }

    .current-book__more--mobile a{
        display: inline-block;
        padding: 5px;
    }

}

/* Tablet support */
@media (min-width: 470px) and (max-width:799px) {
    .content {
        width: 500px;
        padding-bottom: 40px;
        margin-top: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: none;
    }

    .header--mobile {
        display: flex;
    }
    
    .search--mobile {
        background: #ebebeb;
        border-radius: 10px;
        align-items: center;
        width: 20%;
        padding: 6px;
        display:flex;
        height: 40px;
        margin: 10px 10px 10px 10px;
    }

    .sidebar {
        text-align: center;
        width: 100%;
        padding: 0px 20px 20px 20px;
        margin: 120px 0px 20px 0px;
        position: relative;
    }

    .sidebar__link {
        text-align: center;
    }
    
    .sidebar__link a {
        display:inline-block;
        width: 150px;
        text-align: center;
        -moz-box-shadow: inset 0px -2px 0px 0.01px #F6BD60;
        -webkit-box-shadow: inset 0px -2px 0px 0.01px #F6BD60;
        box-shadow: inset 0px -2px 0px 0.01px #F6BD60;
        background: #ffffff;
        padding: 5px 15px 5px 5px;
        margin-bottom: 10px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .sidebar__link a:hover {
        -moz-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        -webkit-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        box-shadow: inset 0px -30px 0px 0.01px #F6BD60;
        color: #ffffff;
    }

    .sidebar__link > .active {
        -moz-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        -webkit-box-shadow:  inset 0px -30px 0px 0.01px #F6BD60;
        box-shadow: inset 0px -30px 0px 0.01px #F6BD60;
        color: #ffffff;
    }

    .feed {
        width: 450px;
        margin-top: -40px;
    }

    .post {
        width: 440px;
    }

    .post__footer {
        width: 385px;
    }

    .post__photos {
        display: flex;
        width: 400px;
        flex-wrap: wrap;
    }

    .pic {
        height: 250px;
        margin: 5px;
    }

    .pic img {
        height: 250px;
    }


 }

 /*  Desktop sizing */
@media (min-width: 800px) {
    .content {
        width: 800px;
        padding-bottom: 40px;
        margin-top: 100px;
        margin: 0 auto;
        display: flex;
    }
    
    .sidebar {
        width: 180px;
        padding: 0px 20px 20px 20px;
        margin: 120px 0px 20px 0px;
        position: fixed;
    }
    
    .sidebar__link a {
        display:block;
        -moz-box-shadow: inset 2px 0px 0px 0px #F6BD60;
        -webkit-box-shadow: inset 2px 0px 0px 0.01px  #F6BD60;
        box-shadow: inset 2px 0px 0px 0.01px #F6BD60;
        background: #ffffff;
        padding: 5px 15px 5px 5px;
        margin-bottom: 10px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    
    .sidebar__link a:hover {
        -moz-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
        -webkit-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
        box-shadow: inset 160px 0px 0px 0.01px #F6BD60;
        color: #ffffff;
    }
    
    .sidebar__link > .active {
        -moz-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
        -webkit-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
        box-shadow: inset 160px 0px 0px 0.01px #F6BD60;
        color: #ffffff;
    }

    .post {
        background: #FFFFFF;
        width: 600px;
    }

    .feed {
        width: 600px;
        margin-top: 100px;
        margin-left: 150px;
    }

    .post__footer {
        width: 540px;
    }

    .post__photos img {
        height: 150px;
        margin-left: 10px;
    }
 }


.post__footer {
    margin-top: 30px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid rgb(231, 231, 231);

}

.search {
    background: #EBEBEB;
    border-radius: 10px;
    align-items: center;
    width: 30%;
    display:flex;
    height: 40px;
    margin: 10px 10px 10px 10px;
}

.search img {
    margin-left:5px;
    width: 30px;
}

.search input[type=text] {
    padding-left: 8px;
    font-size: .7rem;
    background:transparent;
    border: none;
    width: 100%;
}

ul.header__nav {
    list-style-type: none;
    margin: 0px;
    padding-left: 10px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

ul.header__nav--first{
    padding: 0px 12px 0px 0px;
    border-right: 1px solid #C4C4C4;
    display: flex;
    flex-wrap: nowrap;
}

li.header__link {
    display: inline;
}

li.header__link a{
    padding: 31px 10px 31px 10px;
}

li.header__link a:hover{
    background: #EBEBEB;
    color: #444444;
}

li.header__link--profile img{
    border-radius: 100%;
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.header__nav-wrapper {
    display:flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.current-book {
    max-height: 140px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.current-book img {
    height: 120px;
}

.current-book__info {
    margin-left: 30px;

}

.current-book__more {
    margin-left: 30px;
    height: 100%;
    border-left: 1px solid #C4C4C4;
    padding: 20px 0px 20px 20px;
}

.current-book__more a{
    display: block;
}

.post__title {
    display: flex;
}

.post__content {
    padding: 10px;
    min-height: 120px;
}

.post__content img {
    height: 120px;
    float: left;
    margin-right: 20px;
}

.feed__discover {
    display: none;
}

.feed__personal {
    display: none;
}

.post__likes img{
    width: 20px;
    height: 20px;
}

.post__timestamp {
    color: #808F87;
    font-size: .7rem;
}

.post__photos {
    display: flex;
    margin-bottom: 10px;
}


#header__link--community:hover .header__community {
    opacity: 1;
}

#header__link--community .header__community {
    border-top: 2px solid #C4C4C4;
    position:fixed;
    width:140px;
    background: #fff;
    margin-left: 0px;
    margin-top: 29px;
    padding: 0px;
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#header__link--community .header__community a {
    display:block;
    font-size: .8rem;
    padding:10px;
    margin: 0px;
}

.header__link--profile:hover .header__profile {
    opacity: 1;
}

.header__link--profile .header__profile {
    border-top: 2px solid #C4C4C4;
    position:fixed;
    width:140px;
    background: #fff;
    margin-top: 26px;
    padding: 0px;
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.header__link--profile .header__profile a {
    display:block;
    padding:10px;
    font-size: .8rem;
    margin: 0px;
}
