.header {
    position: fixed;
    width: 100%;
    display:flex;
    padding: 10px 30px 10px 30px;
    align-items: center;   
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(196, 183, 159);
    z-index: 1;
}

.header img {
    width: 30px;
}

.search {
    background: #EBEBEB;
    border-radius: 10px;
    align-items: center;
    width: 30%;
    display:flex;
    height: 40px;
    margin: 10px 10px 10px 10px;
}

.search img {
    margin-left:5px;
    width: 30px;
}

.search input[type=text] {
    padding-left: 8px;
    font-size: 11px;
    background:transparent;
    border: none;
    width: 170px;
  }

ul.header__nav {
    list-style-type: none;
    margin: 0px;
    padding-left: 10px;
    flex-wrap: nowrap;
}

ul.header__nav--first{
    padding: 0px 12px 0px 0px;
    border-right: 1px solid #C4C4C4;
}

li.header__link {
    display: inline;
}

li.header__link a{
    padding: 32px 10px 32px 10px;
}

li.header__link a:hover{
    background: #EBEBEB;
    color: #444444;
}

li.header__link--profile img{
    border-radius: 100%;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

.header__nav-wrapper {
    display:flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.content {
    width: 800px;
    padding-bottom: 40px;
    margin-top: 100px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 180px;
    padding: 0px 20px 20px 20px;
    margin: 120px 0px 20px 0px;
    position: fixed;
}

.sidebar__link {
    text-transform: uppercase;
    text-align: right;
    line-height: 1rem;
    font-size: .8rem;
}

.sidebar__link a {
    display:block;
    -moz-box-shadow: inset 100px 0px 0px 0px #F6BD60;
    -webkit-box-shadow: inset 100px 0px 0px 0px #F6BD60;
    box-shadow: inset 2px 0px 0px 0.01px #F6BD60;
    background: #ffffff;
    padding: 5px 15px 5px 5px;
    margin-bottom: 10px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.sidebar__link a:hover {
    -moz-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
    -webkit-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
    box-shadow: inset 160px 0px 0px 0.01px #F6BD60;
    color: #ffffff;
}

.sidebar__link > .active {
    -moz-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
    -webkit-box-shadow:  inset 160px 0px 0px 0.01px #F6BD60;
    box-shadow: inset 160px 0px 0px 0.01px #F6BD60;
    color: #ffffff;
}

.feed {
    width: 600px;
    margin-top: 100px;
    margin-left: 150px;
}

.post {
    background: #FFFFFF;
    width: 600px;
    padding: 20px;
    margin: 20px 0px 0px 30px;
    border: 1px solid rgb(230, 221, 204);
}

.current-book {
    max-height: 140px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.current-book img {
    height: 120px;
}

.current-book__info {
    margin-left: 30px;

}

.current-book__more {
    margin-left: 30px;
    height: 100%;
    border-left: 1px solid #C4C4C4;
    padding: 20px 0px 20px 20px;
}

.current-book__more a{
    display: block;
}

.post__title {
    display: flex;
}

.post__content {
    padding: 10px;
    min-height: 120px;
}

.post__content img {
    height: 120px;
    float: left;
    margin-right: 20px;
}

.feed__discover {
    display: none;
}

.feed__personal {
    display: none;
}

.post__footer {
    margin-top: 30px;
    padding-top: 5px;
    display: flex;
    width: 540px;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid rgb(231, 231, 231);
}
.post__likes img{
    width: 20px;
    height: 20px;
}

.post__timestamp {
    color: #808F87;
    font-size: .7rem;
}

.post__photos {
    display: flex;
    margin-bottom: 10px;
}

.post__photos img {
    height: 150px;
    margin-left: 10px;
}

#header__link--community:hover .header__community {
    opacity: 1;
}

#header__link--community .header__community {
    border-top: 2px solid #C4C4C4;
    position:fixed;
    width:140px;
    background: #fff;
    margin-left: 70px;
    margin-top: 30px;
    padding: 0px;
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#header__link--community .header__community a {
    display:block;
    font-size: .8rem;
    padding:10px;
    margin: 0px;
}

.header__link--profile:hover .header__profile {
    opacity: 1;
}

.header__link--profile .header__profile {
    border-top: 2px solid #C4C4C4;
    position:fixed;
    width:140px;
    background: #fff;
    margin-left: 105px;
    margin-top: 25px;
    padding: 0px;
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.header__link--profile .header__profile a {
    display:block;
    padding:10px;
    font-size: .8rem;
    margin: 0px;
}